@charset "utf-8";

nav, body, ul {
    margin: 0;
    padding: 0;
    width: 980px;
}

h1 {
    font-size: 24px;
}

#tap_menu {
    float:left;
    display:flex;
    justify-content: center;
}

#tap_menu li {
    margin: 0;
    width: 245px;
    background-color: #753b3a;
    height:80px;
    color: #885655;
    font-weight: normal;
    border-right: 1px solid #885655;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tap_menu li:last-child {
    border: 0;
}

#tap_menu .is_on {
    background-color: #4f2a2b;
    font-weight: bold;
    color: #fff;
    border:0;
}

/* contents */

main {
    height: 419px;
    clear: both;
    display:flex;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
}

table {
    margin: 0 0 0 -2px;
}

main article {
    margin-left: 35px;
}

tr {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 3px 0;
}

#souvenir_content h2 {
    font-size: 32px;
    margin: 60px 0 -5px;
}

#souvenir_content p {
    font-size: 20px;
}

th span {
    font-size: 16px;
    margin-right: 10px;
}

td small {
    font-size: 16px;
    color: #888;
    font-weight: 400;
}

#souvenir_apply {
    margin-top: 50px;
    display: inline-block;
}

#souvenir_apply a {
    text-decoration: none;
    color: #000;
}

#souvenir_apply .apply_btn {
    padding: 16px 24px;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000;
}

#souvenir_bg {
    display: flex;
    align-items: flex-end;
}