@charset "utf-8";

/* custom reset */

body, header, nav, main, footer,
h1, h2, h3, h4, h5,
ul, ol, li, dl, dt, dd,
a, strong, p,
div, input, textarea {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.blind {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* // custom reset */

.header_wrap {
    background-color: #000;
    min-width: 1000px;
}

.header_title {
    height: 80px;
    color: #fff;
    padding-top: 40px;
    margin: 0 auto 40px;
    font-size: 40px;
    width: 1000px;
}

.nav_wrap {
    margin: 0 auto 40px;
    width: 1000px;
}

.tap_menu {
    list-style: none;
    font-size: 0;
    margin-bottom: 60px;
}

.tap_item {
    display: inline-block;
    border: 1px solid #d1d1d1;
    width: 322px;
    text-align: center;
    height: 31px;
    overflow: hidden;
}

.tap_item + .tap_item {
    margin-left: 12px;
}

.tap_menu .tap_text {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 2;
}

.tap_item:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

.main_wrap {
    margin: 0 auto;
    width: 1000px;
}

.main_title {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #454545;
    font-size: 20px
}

.component_wrap {
    margin-bottom: 30px;
}

.component_wrap:last-of-type {
    margin-bottom: 40px;
}

.content_title {
    height: 46px;
    font-size: 16px;
    color: #333;
    line-height: 50px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    padding: 0 15px;
}

.content {
    padding: 30px;
    font-size: 12px;
    border: 1px solid #d1d1d1;
    border-top: 0;
}

.content:last-of-type {
    border-bottom: 1px solid #d1d1d1;
}

/* 컬러 정리 */

.baby_size {
    width: 100%;
    font-size: 12px;
    color: #555;
    table-layout: fixed;
}

.baby_size caption {
    text-align: left;
    font-size: 14px;
    margin-bottom: 14px;
    color: #000;
}

.baby_col_1 {
    width: 120px;
}

.baby_col_2 {
    width: 80px;
}

.baby_col_3 {
    width: 140px;
}

.baby_size thead {
    background-color: #fbfbfb;
}

.baby_size th, .baby_size td {
    border: 1px solid #e4e4e4;
    padding: 10px 15px;
}

.baby_size td {
    text-align: center;
}

.ref_refundable {
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
}

.ref_refundable caption {
    text-align: left;
    font-size: 14px;
    margin-bottom: 14px;
    color: #000;
}

.ref_col_1 {
    width: 40%;
}

.ref_col_2 {
    width: 20%;
}

.ref_refundable thead {
    background-color: #fbfbfb;
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

.ref_refundable thead th,
.ref_refundable tbody th {
    font-weight: normal;
    color: #555;
}

.ref_refundable tbody td {
    text-align: right;
    color: #555;
    padding-right: 60px;
}

.ref_refundable tfoot {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

.ref_refundable tfoot td {
    text-align: right;
    font-weight: bold;
    padding-right: 60px;
}

.ref_refundable th, .ref_refundable td {
    padding: 10px 20px;
}

.form_title {
    font-size: 14px;
    margin-bottom: 20px;
}

.form_wrap {
    padding: 30px;
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
}

.input_wrap {
    margin-bottom: 30px;
}

.label_text {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

.input_common_box {
    width: 872px;
    text-indent: 5px;
    font-size: 12px;
    height: 16px;
    padding: 5px 0;
}

.birth_box {
    width: 280px;
    height: 25px;
    float: left;
    margin-left: 15px;
}

.select_wrap {
    height: 25px;
    margin-bottom: 30px;
}

.select_wrap :first-child {
    margin-left: 0;
}

.radio_input {
    vertical-align: -1px;
}


.radio_wrap {
    display: table;
    font-size: 0;
}

.radio_cell {
    display: table-cell;
    width: 123px;
}

.radio_text {
    font-size: 12px;
    padding-left: 5px;
}

.tel_wrap {
    margin-bottom: 10px;
}

.tel_box {
    width: 80%;
}

.tel_box + .certificate_btn {
    margin-left: 10px;
}

.certificate_btn {
    float: right;
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 12px;
    color: #fff;
    width: 160px;
    height: 30px;
    cursor: pointer;
}

.checkbox_wrap {
    display: table;
    width: 100%;
}

.checkbox_cell {
    display: table-cell;
    width: 12%;
}

.textarea_box {
    display: block;
    width: 869px;
    height: 150px;
    border: 1px solid #d1d1d1;
    font-size: 12px;
    padding: 5px 0 5px 5px;;
}

.submit_btn {
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 16px;
    color: #fff;
    width:100%;
    padding: 10px 0;
    cursor: pointer;
}

.article_wrap {
    margin-bottom: 60px;
}

.article_title {
    font-size: 14px;
}

.article_content {
    margin-top: 10px;
    border: 1px solid #e4e4e4;
    padding: 30px;
}

.dict_word {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
}

.search_word {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
}

.from_dict {
    font-size: 12px;
    color: #559bfa;
    margin-left: 10px;
    line-height: 24px;
    font-style: normal;
}

.meaning {
    line-height: 24px;
    margin-bottom: 30px;
}

.realtime_content {
    width: 300px;
}

.realtime_wrap {
    list-style: none;
}

.realtime_wrap li + li {
    margin-top: 10px;
}

.realtime_word {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 24px;
}

.realtime_word:hover {
    text-decoration: underline;
}

.order_wrap {
    display: inline-block;
    border: 1px solid #e0e0e0;
    font-size: 10px;
    color: #666;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    text-align: center;
    line-height: 13px;
}

.cookie_guide li {
    font-size: 12px;
    line-height: 24px;
}

.cookie_guide li + li {
    margin-top: 6px;
}

.cookie_guide .webtoon_font {
    color: #559bfa;
}

.cookie_guide .webtoon_term {
    color: #ec5336;
}

.cookie_guide .webtoon_link {
    color: #559bfa;
}

.news_wrap {
    list-style-type: none;
    vertical-align: top;
}

.news_wrap li + li {
    margin-top: 30px;
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
}

.img_wrap {
    float: left;
    margin-right: 15px;
    vertical-align: top;
}

.news_content {
    display: block;
}

.news_title {
    display: inline-block;
    font-size: 14px;
    color: #00c;
    font-weight: bold;
    margin-bottom: 10px;
}

.news_img {
    width: 80px;
    height: 80px;
}

.news_summary {
    font-size: 12px;
    line-height: 18px;
    display: block;
}

.webtoon_list {
    padding: 30px 21px 60px 20px;
}

.webtoon_wrap {
    list-style-type: none;
    display: block;
}

.webtoon_content {
    display: inline-block;
    width: 281px;
    vertical-align: top;
}

.webtoon_content a {
    text-decoration: none;
    color: #000;
}

.webtoon_content :hover .webtoon_title,
.webtoon_content :hover .webtoon_subtitle {
    text-decoration: underline;
}

.webtoon_wrap li + li {
    margin-left: 20px;
}

.webtoon_wrap :nth-child(4) {
    margin-left: 0px;
}

.webtoon_img {
    width: 285px;
    height: 140px;
}

.webtoon_title {
    font-size: 14px;
    text-decoration: none;
    line-height: 21px;
}

.webtoon_subtitle {
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-decoration: none;
    line-height: 18px;
}

.special_toon {
    font-size: 10px;
    color: #fff;
    padding: 1px 2px;
    margin-right: 3px;
    vertical-align: 2px;
}

.smart_toon {
    border: 1px solid #df4e28;
    background-color: #ec5336;
}

.cut_toon {
    border: 1px solid #71b036;
    background-color: #80c83d;
}

.footer_wrap {
    text-align: center;
    padding: 40px;
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #454545;
}

.footer_mail {
    text-decoration: none;
    color: #999;
    cursor: pointer;
}

.address_text {
    font-size: 12px;
    color: #999;
    font-style: normal;
    margin-bottom: 12px;
}

.copyright_text {
    font-size: 12px;
}