@charset "utf-8";

body, header, nav, main, footer, ul, li, div, h1 {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.font-12px {
    font-size: 12px;
}

.font-14px {
    font-size: 14px;
}

.font-16px {
    font-size: 16px;
}

h3 {
    font-size:14px;
    font-weight: bold;
    color: #000;
}

header {
    background-color: #000;
    height:120px;
    position: relative;
    top: 0;
}

#header_div {
    margin: auto;
    padding: 40px 0 0;
    width: 1080px;
}

#header_div h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-left:40px;
}

nav {
    display: inline-block;
    height: 73px;
    width:100%;
}

#nav_ul {
    width: 1080px;
    margin: 40px auto;
}

#nav_ul li {
    display: inline-block;
    border: 1px solid #d1d1d1;
    height: 33px;
    width: 324px;
    text-align: center;
}

#nav_ul li:first-of-type {
    margin-left: 40px;
}

#nav_ul li:nth-last-of-type(2) {
    margin: 0 13px;
}

#nav_ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 2.2;
    display:block;
}

#nav_ul li:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

main {
    width: 100%;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #d1d1d1;
}

#h2_cover {
    width: 1080px;
    margin: 0 auto;
}

main h2 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 40px 0 0;
    border-bottom: 1px solid #454545;
    padding: 20px 0;
}

#dl_cover {
    width: 1080px;
    margin: 0 auto;
}

main dl {
    margin: 30px auto 40px;
}

main dt {
    border: 1px solid #d1d1d1;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-indent: 15px;
    height: 46px;
    line-height: 3;
}

main dd {
    border: 1px solid #d1d1d1;
    border-top: 0;
    padding: 30px;
    margin:0 0 30px 0;
}

main dd:last-of-type {
    margin-bottom: 0;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 30px 0 0 0;
}

footer address {
    color: #999;
    font-style: normal;
}

footer strong {
    color: #000;
    line-height: 2;
}

/* table components */

#table_component {
    font-size: 12px;
    color: #555;
}

#baby_size {
    border: 1px solid #e4e4e4;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

#baby_size tr {
    border: 1px solid #e4e4e4;
}

#baby_size tr:first-child {
    font-weight: bold;
}

#baby_size thead td {
    width: 32%;
}

#baby_size thead th {
    width: 17%
}

#baby_size thead th:last-child {
    width: 17%;
}

#baby_size thead {
    background-color: #fbfbfb;
}

#baby_size th, #baby_size td {
    border: 1px solid #e4e4e4;
    padding: 10px 15px;
}

#table_component h3:last-of-type {
    margin-top: 40px;
}

#ref_refundable {
    border-collapse: collapse;
    text-align:center;
    width: 100%;
}

#ref_refundable th, ref_refundable td {
    padding: 10px 20px;
}

#ref_refundable thead td {
    width: 37%;
}

#ref_refundable thead th, #ref_refundable tbody th {
    font-weight: 400;
    width: 21%;
}

#ref_refundable thead {
    background-color: #fbfbfb;
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

#ref_refundable tbody td, #ref_refundable tfoot td {
    text-align: right;
    padding-right: 8%;
}

#ref_refundable tfoot {
    background-color: #fbfbfb;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    font-weight: bold;
}

/* form_component */
#form_cover {
    width: 100%;
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
}

#form_cover input {
    font-size: 12px;
    color: #000;
    width: 100%;
    padding: 5px 0;
    text-indent: 5px;
}

#form_cover form {
    margin: 20px;
}

#form_cover form > div {
    margin-top: 20px;
}

#form_cover label {
    display: block;
    margin-bottom: 5px;
}

/* TODO 이상함 */
#select_cover {
    width: 100%;
}

#form_cover select {
    width: 310px;
    font-size: 12px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
}

select:nth-of-type(2) {
    margin: 0 5px;
}

#radio_cover {
    display: inline;
}

#radio_cover label {
    display: inline;
    margin-right: 60px;
    font-size:12px;
    color: #000;
}

#radio_cover input {
    display:inline;
    width: 14px;
    padding: 0;
}

#phone_cover {
    display: block;
    padding: 0;
}

#phone_cover > input {
    width: 85%;
    margin-right: 5px;
}

#phone_cover a {
    border: 1px solid #08a600;
    color: #fff;
    background-color: #08a600;
    padding: 5px 10px;
    text-decoration: none;
    width: 10%;
    margin: 0 auto;
}