{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div>
    <div class ="card mr-4 my-4 position-fixed d-inline" style="width: 15rem;">
        <div class="card-header">
            채 찬우
        </div>
        <img class ="px-1 py-1 img-thumbnail rounded-circle" src="{% static 'groot.jpg' %}" alt="plz wait" />
        <div class="card-body">
            <h5 class="card-text">상태메시지입니드아ㅏㅏㅏㅏㅏㅏ</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">붓싼대학교</li>
            <li class="list-group-item">낙성대역 거주</li>
        </ul>
    </div>
    <div class="d-flex justify-content-end">
        <div class="d-block">
            <img class="px-1 py-1 my-4" src="http://dimg.donga.com/ugc/CDB/WEEKLY/Article/5a/d0/5c/e0/5ad05ce00110d2738de6.jpg" alt="plz wait"/>
            <h1>고슴도치 커엽드아ㅏㅏㅏㅏㅏ</h1>
            <img class="px-1 py-1 my-4" alt="plz wait" src="http://cdnweb01.wikitree.co.kr/webdata/editor/201309/24/img_20130924181305_d68a408b.png"/>
            <img class="px-1 py-1 my-4" style="width: 300px; display:block;" alt="plz wait" src="https://previews.123rf.com/images/mazikab/mazikab1706/mazikab170600543/80717484-%EB%82%98%EB%AC%B4-%EB%B0%B0%EA%B2%BD%EC%97%90-%EA%B3%A0%EC%8A%B4%EB%8F%84%EC%B9%98%EC%9D%98-%EB%8B%A4%EC%96%91%ED%95%9C-%EC%9B%80%EC%A7%81%EC%9E%84.jpg"/>
        </div>
    </div>
</div>



{% endblock %}